.small-image {
    width: 100%; /* You can adjust the width as needed */
    height: auto;
}

.container {
    height: 60vh;
    width: 100vw;
    margin: 0;
    padding-top: 0;
    padding-left: 10px;
    padding-right: 10px;
    max-width: 10000px;
}

#back-button {
    background-color: white;
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    margin-left: 100px;
    margin-top: 22%;
    width: 120%;
    border-radius: 25px 0 0 25px;
    text-align: center;
}

#next-button {
    background-color: white;
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    margin-left: 30px;
    margin-top: 22%;
    width: 120%;
    border-radius: 0 25px 25px 0;
    text-align: center;
}

#home-icon {
    font-family: "Sedan", serif;
    font-weight: bold;
    text-decoration: underline;
    font-size: 2em;
    margin-left: 30px;
}

.btn-forward:hover {
    background-color: rgb(171, 171, 171);
}

.btn-back:hover {
    background-color: rgb(171, 171, 171);
}

h1 {
    padding-top: 4%;
    padding-bottom: 200px;
    padding-left: 35%;
    color: white;
    font-size: 4em;
}

body {
    background-color: black;
}

p.sedan-regular {
    color: white;
    font-size: 3em;
    justify-self: center;
    text-align: center;
    padding-bottom: 3%;
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
}

.sedan-regular {
  font-family: "Sedan", serif;
  font-weight: 400;
  font-style: normal;
}

.custom-button {
    background-color: rgb(246, 253, 251);
    width: 50%;
    height: 60px;
    color: black;
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2em;
    border-radius: 10px;
    cursor: pointer;
    margin-left: 25%;
    margin-top: 40px;
}

.custom-button:hover {
    background-color: rgb(171, 171, 171);
}
