{% extends "layout.html" %}

{% block content %}
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">

    <!-- jquery -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link href="https://unpkg.com/treeflex/dist/css/treeflex.css" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">


    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">

    <title>Homepage</title>


</head>
<body>
    <h1>What do you want to learn today?</h1>
    <div class="container">
        <div class="tf-tree example">
            <ul>
                <li>
                    <span class="tf-nc"><p class="sedan-regular">Review The Basics</p></span>
                    <ul>
                        <li>
                            <span class="tf-nc"><p class="sedan-regular"><a href="/learning/1">Tailoring Content</a></p></span>
                            <ul>
                                <li><span class="tf-nc"><p class="sedan-regular">&#9745;<a href="/topic/11">Location</a></p></span></li>
                                <li><span class="tf-nc"><p class="sedan-regular">&#9745;<a href="/topic/12">Niche</a></p></span></li>
                                <li><span class="tf-nc"><p class="sedan-regular">&#9745;<a href="/topic/13">Age</a></p></span></li>
                            </ul>
                        </li>
                        <li>
                            <span class="tf-nc"><p class="sedan-regular"><a href="/learning/2">Quality and Outreach</a></p></span>
                            <ul>
                                <li><span class="tf-nc"><p class="sedan-regular">&#9745;<a href="/topic/21">Consistency</a></p></span></li>
                                <li><span class="tf-nc"><p class="sedan-regular">&#9745;<a href="/topic/22">Personal Engagement</a></p></span></li>
                                <li><span class="tf-nc"><p class="sedan-regular">&#9745;<a href="/topic/23">Catchy Content</a></p></span></li>
                            </ul>
                        </li>
                        <li>
                            <span class="tf-nc"><p class="sedan-regular"><a href="/learning/3">Fostering Engagement</a></p></span>
                            <ul>
                                <li><span class="tf-nc"><p class="sedan-regular">&#9745;<a href="/topic/31">Diversification</a></p></span></li>
                                <li><span class="tf-nc"><p class="sedan-regular">&#9745;<a href="/topic/32">Trends and Quality</a></p></span></li>
                                <li><span class="tf-nc"><p class="sedan-regular">&#9745;<a href="/topic/33">Collaboration</a></p></span></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

        <button type="submit" class="custom-button" onclick="window.location.href='/quiz'">Jump to Quiz</button>

    </div>

</body>
{% endblock %}