<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">

    <!-- jquery -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">


    <link rel="stylesheet" href="{{url_for('static', filename='learning.css')}}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Sedan:ital@0;1&display=swap" rel="stylesheet">

    <title>Topics Page</title>


</head>
<body>

    <script>
        $(document).ready(function() {
            // Create a new button element
            var button1 = $("<button1>");
            var button2 = $("<button2>");


            // Set button attributes and content
            var id = {{ id }};
            if (id == 1) {
                button1.html("Home"); // Button text
                button2.html("Next Topic"); // Button text
            } else if (id == 3) {
                button1.html("Back"); // Button text
                button2.html("Quiz"); // Button text
            } else {
                button1.html("Back"); // Button text
                button2.html("Next Topic"); // Button text
            }



            button1.css({
                "background-color": "white",
                "color": "black",
                "border-radius": "25px 0 0 25px",
                "font-family": '"Sedan", serif',
                "font-weight": "400",
                "font-style": "normal",
                "font-size": "2em",
                "cursor": "pointer",
                "padding": "8px 110px 8px 110px",
                "width": "120%",
                "border-radius": "25px 0 0 25px",
                "text-align": "center"
            });

            button1.hover(function() {
                $(this).css("background-color", "rgb(171, 171, 171)");
            }, function() {
                $(this).css("background-color", "white");
            });


            button2.css({
                "background-color": "white",
                "color": "black",
                "border-radius": "0 25px 25px 0",
                "font-family": '"Sedan", serif',
                "font-weight": "400",
                "font-style": "normal",
                "font-size": "2em",
                "cursor": "pointer",
                "padding": "6px 50px 6px 50px",
                "width": "70%",
                "text-align": "center",
                "display": "inline-block"
            });


            button2.hover(function() {
                $(this).css("background-color", "rgb(171, 171, 171)");
            }, function() {
                $(this).css("background-color", "white");
            });

            button1.attr("onclick", "goBackLink()"); // Button click event
            button2.attr("onclick", "goForwardLink()"); // Button click event

            // Append the button to the html button
            $("#back-button").append(button1);
            $("#next-button").append(button2);
        });

        function goBackLink() {
            // Get the id value (assuming it's passed from the server)
            var id = {{ id }};
            id = id - 1;
            // Redirect to the link "/learning/{{ id }}"
            window.location.href = "/learning/" + id;
        }

        function goForwardLink() {
            // Get the id value (assuming it's passed from the server)
            var id = {{ id }};
            id = id + 1;
            // Redirect to the link "/learning/{{ id }}"
            window.location.href = "/learning/" + id;
        }
    </script>

    <div class="container">
        <div class="row">
            <a href="/"><div id="home-icon">Home &#8962;</div></a>
        </div>
        <div class="row">
            <div class="col-3">
                <div id="back-button"></div>
            </div>
            <div class="col-6">
                <h1 class="sedan-regular">{{ topic_overview.title }}</h1>
            </div>
            <div class="col-3">
                <div id="next-button"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <p class="sedan-regular">{{ topic_overview.subtitle1 }}</p>
            </div>
            <div class="col-4">
                <p class="sedan-regular">{{ topic_overview.subtitle2 }}</p>
            </div>
            <div class="col-4">
                <p class="sedan-regular">{{ topic_overview.subtitle3 }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <img class="small-image" src="{{ topic_overview.image1 }}" alt="Your Image">
            </div>
            <div class="col-4">
                <img class="small-image" src="{{ topic_overview.image2 }}" alt="Your Image">
            </div>
            <div class="col-4">
                <img class="small-image" src="{{ topic_overview.image3 }}" alt="Your Image">
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <form action="/topic/{{ topic_overview.subbranch }}{{ 1 }}" method="get">
                    <button type="submit" class="custom-button">Explore</button>
                </form>
            </div>
            <div class="col-4">
                <form action="/topic/{{ topic_overview.subbranch }}{{ 2 }}" method="get">
                    <button type="submit" class="custom-button">Explore</button>
                </form>
            </div>
            <div class="col-4">
                <form action="/topic/{{ topic_overview.subbranch }}{{ 3 }}" method="get">
                    <button type="submit" class="custom-button">Explore</button>
                </form>
            </div>
        </div>
    </div>






</body>
</html>