<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">

    <!-- jquery -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">


    <link rel="stylesheet" href="{{url_for('static', filename='learning.css')}}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=Sedan:ital@0;1&display=swap" rel="stylesheet">

    <title>Topics Page</title>


</head>
<body>
    <h1 class="sedan-regular">{{ topic_overview.title }}</h1>

    <div class="container">
        <div class="row">
            <div class="col-4">
                <p class="sedan-regular">{{ topic_overview.subtitle1 }}</p>
            </div>
            <div class="col-4">
                <p class="sedan-regular">{{ topic_overview.subtitle2 }}</p>
            </div>
            <div class="col-4">
                <p class="sedan-regular">{{ topic_overview.subtitle3 }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-4">
                <img class="small-image" src="{{ topic_overview.image1 }}" alt="Your Image">
            </div>
            <div class="col-4">
                <img class="small-image" src="{{ topic_overview.image2 }}" alt="Your Image">
            </div>
            <div class="col-4">
                <img class="small-image" src="{{ topic_overview.image3 }}" alt="Your Image">
            </div>
        </div>




        <div class="row">
            <div class="col-4">
                <form action="/topic/{{ topic_overview.subbranch }}{{ 1 }}" method="get">
                    <button type="submit" class="custom-button">Explore</button>
                </form>
            </div>
            <div class="col-4">
                <form action="/topic/{{ topic_overview.subbranch }}{{ 2 }}" method="get">
                    <button type="submit" class="custom-button">Explore</button>
                </form>
            </div>
            <div class="col-4">
                <form action="/topic/{{ topic_overview.subbranch }}{{ 3 }}" method="get">
                    <button type="submit" class="custom-button">Explore</button>
                </form>
            </div>
        </div>
    </div>


</body>
</html>