<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">

    <!-- jquery -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">


    <link rel="stylesheet" href="{{url_for('static', filename='topic.css')}}">

    <title>Info on the Topic</title>


</head>
<body>
<h1>{{ topic.title }} </h1>
<p class="sedan-regular">{{ topic.text }}</p>
<div class="container">
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="flip-card" onmouseover="flipCard(true)" onmouseout="flipCard(false)">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img class = "medium-image" src="/static/images/img2.png" alt="Image">
                        </div>
                        <div class="flip-card-back">
                            <p class="sedan-regular">Revealed text</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="flip-card" onmouseover="flipCard(true)" onmouseout="flipCard(false)">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img class = "medium-image" src="/static/images/img2.png" alt="Image">
                        </div>
                        <div class="flip-card-back">
                            <p class="sedan-regular">Revealed text</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>
<script>
    function flipCard(isFlipped) {
        var card = document.querySelector('.flip-card');
        if (isFlipped) {
            card.classList.add('flipped');
        } else {
            card.classList.remove('flipped');
        }
    }
</script>
</body>
</html>