<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="data:,">

    <!-- jquery -->
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">


    <link rel="stylesheet" href="{{url_for('static', filename='topic.css')}}">

    <title>Info on the Topic</title>


</head>
<body>
    <script>
        var id = {{ id }};
        $(document).ready(function() {
            // Create a new button element
            var button1 = $("<button1>");
            var button2 = $("<button2>");


            // Set button attributes and content
            button1.html("Back"); // Button text
            if (id == 33) {
                button2.html("Quiz"); // Button text
            } else {
                button2.html("Next"); // Button text
            }
            if (id == 11) {
                button1.html("Home"); // Button text
            } else {
                button1.html("Back"); // Button text
            }


            button1.attr("onclick", "goBackLink()"); // Button click event
            button2.attr("onclick", "goForwardLink()"); // Button click event

            button1.css({
                "background-color": "white",
                "color": "black",
                "border-radius": "25px 0 0 25px",
                "font-family": '"Sedan", serif',
                "font-weight": "400",
                "font-style": "normal",
                "font-size": "2em",
                "padding": "6px 110px 6px 110px"
            });

            button2.css({
                "background-color": "white",
                "color": "black",
                "border-radius": "0 25px 25px 0",
                "font-family": '"Sedan", serif',
                "font-weight": "400",
                "font-style": "normal",
                "font-size": "2em",
                "padding": "6px 110px 6px 110px"
            });


            // Append the button to the html button
            $("#back-button").append(button1);
            $("#next-button").append(button2);
        });

        function goBackLink() {
            if (id == 31) {
                id = 23
                window.location.href = "/topic/" + id;
            } else if (id == 21) {
                id = 13;
                window.location.href = "/topic/" + id;
            } else if (id == 11) {
                window.location.href = "/";
            } else {
                id -= 1;
                window.location.href = "/topic/" + id;
            }
        }

        function goForwardLink() {
            if (id == 33) {
               window.location.href = "/quiz/intro/4";
            } else if (id == 23) {
                id = 31;
               window.location.href = "/topic/" + id;
            } else if (id == 13) {
                id = 21
                window.location.href = "/topic/" + id;
            } else {
                id += 1;
                window.location.href = "/topic/" + id;
            }
        }
    </script>


<div class="container">
    <div class="row">
        <a href="/"><div id="home-icon">Home &#8962;</div></a>
    </div>
    <h1>{{ topic.title }} </h1>
    <p class="sedan-regular">{{ topic.text }}</p>
    <div class="row">
        <div class="col-6">
            <div class="row">
                <div class="flip-card" onmouseover="flipCard(this, true)" onmouseout="flipCard(this, false)">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img class="medium-image" src="{{ topic.image1 }}" alt="Image 1">
                        </div>
                        <div class="flip-card-back">
                            <div class="container-custom">
                                <p class="sedan-regular">{{ topic.img_text1 }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="row">
                <div class="flip-card" onmouseover="flipCard(this, true)" onmouseout="flipCard(this, false)">
                    <div class="flip-card-inner">
                        <div class="flip-card-front">
                            <img class="medium-image" src="{{ topic.image2 }}" alt="Image 2">
                        </div>
                        <div class="flip-card-back">
                            <div class="container-custom">
                                <p class="sedan-regular">{{ topic.img_text2 }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-6">
            <div id="back-button"></div>
        </div>
        <div class="col-6">
            <div id="next-button"></div>
        </div>
    </div>
</div>

<script>
    function flipCard(card, isFlipped) {
        if (isFlipped) {
            card.classList.add('flipped');
        } else {
            card.classList.remove('flipped');
        }
    }
</script>

</body>
</html>